/* #region color */
:root{
    --toobo-primary: rgba(255, 255, 255, 1);
    --toboo-text: rgba(68, 73, 81, 1);
    --toboo-bg: rgba(246, 248, 249, 1); 
    --toboo-editorial:  rgba(71, 173, 241, 1);
    --toboo-goals: rgba(156, 114, 228, 1);
    --toboo-recruiting: rgba(100, 192, 169, 1);
    --toboo-mobile: rgba(242, 158, 51, 1);
    --toboo-website: rgba(216, 99, 161, 1);
    --toboo-sales: rgba(176, 201, 38, 1);
}
/* #endregion color */

body{
    margin: 0;
    font-family: Ubuntu;
}
/* #region header */
.site_header{
    margin: 1rem 1.5rem;
    background-color: var(--toboo-primary);
}
   
.site_header > img{
    vertical-align: top;
}

.site_header > span{
    font-size: 2.5rem;
    font-weight: bold;
}
/* #endregion header */


.site_main{
    background-color: var(--toboo-bg);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.container{
    background-color: var(--toobo-primary);
    width: 40rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: var(--toboo-text);
}
/* #region add buttons */
.buttons{
    padding: 1rem 2rem 0.5rem 2rem;
}
.add_button{
    color: rgba(211, 215, 219, 1);
    background-color: var(--toobo-primary);
    border: 1px solid rgba(211, 215, 219, 1);
    border-radius: 10px;
    padding: 0.4rem;
    font-weight: bolder;
}
.add_button:hover{
    color: var(--toobo-primary);
    background-color: var(--toboo-editorial);
    border: 1px solid var(--toboo-editorial);

}

hr{
    height: 1px;
    border: none;
    background-color: var(--toboo-bg);
    margin: 0;
}
/* #endregion add buttons */ 

/* #region tasks */
.tasks{
    padding: 1rem 2rem 0.5rem 2rem;

}

h3{
    margin-bottom: 1rem;
}

/* #region check and cross mark */
.check{
    margin-right: 7px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    font-weight: bolder;
}

.cross{
    margin-right: 7px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    font-weight: bolder;
}
/* #endregion check and cross mark */


.info_task{
    display: inline-block;
    font-weight: bold;
    padding-bottom: 2rem;
}

/* #region type of tasks */
span[class*='type_'] {
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 8px;
    color: white;
}

.type_editorial{
    background-color: var(--toboo-editorial);
}

.type_goals{
    background-color: var(--toboo-goals);
}

.type_recruiting{
    background-color: var(--toboo-recruiting);
}

.type_mobile{
    background-color: var(--toboo-mobile);
}

.type_website{
    background-color: var(--toboo-website);
}

.type_sales{
    background-color: var(--toboo-sales);
}
/* #endregion type of tasks */

/* #endregion tasks */

